
h1 {
  text-align: center;
}

p {
  text-align: center;
}

.destination {
  display: none;
}

/*#bangkok {
display: none;
}
#j2 {
display: none;
}
#j3 {
display: none;
}
#j4 {
display: none;
}
#j5 {
display: none;
}
*/
